@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
